# Logo key = Mod4. Use Mod1 for Alt.
set $mod Mod4
set $win Mod4
set $term {{ .term }}
set $menu fuzzel

set $lock swaylock -C ~/.config/sway/swaylock -i $HOME/.config/sway/lock.jpg
output * bg $HOME/.config/sway/bg.png fill

# https://github.com/swaywm/sway/wiki/Systemd-integration
exec "systemctl --user import-environment; systemctl --user start sway-session.target"

# Theme settings
exec gsettings set org.gnome.desktop.interface gtk-theme "Arc-Dark"

# Bar configs
bar {
    position top
    swaybar_command waybar
}
## Lock screen
exec swayidle -w \
        timeout 1200 "$lock" \
        timeout 1230 'swaymsg "output * dpms off"' \
        resume 'swaymsg "output * dpms on"' \
        before-sleep "$lock -f"



gaps inner 2
smart_gaps on
smart_borders no_gaps
# No titlebar
default_border none
default_floating_border none

######################################
## Custom window configurations
######################################

# Semi transparent and get a pixel border
for_window [app_id="kitty"] {
    opacity 0.9
    border pixel 1
}

# Setup thunderbird to be fullscreen, but new msg, and other popups
# get floating and a title
for_window [app_id="thunderbird"] {
    border normal 1
    floating enabled
}

for_window [title=".*- Mozilla Thunderbird$" app_id="thunderbird"] {
    floating disabled
    border none
}

# Dont sleep when in fullscreen for these apps
for_window [class="(firefox|vlc)"] inhibit_idle fullscreen

# FF and chrome PiP windows get floating sticky
for_window [title="Picture[- ]in[- ][Pp]icture"] {
    sticky enabled
    border none
    floating enabled
}
# When VLC is set to float, allow it to be sticky so that it can serve as Picture in Picture
for_window [class="vlc"] {
    sticky enabled
}
# Opensnitch popups get floating
for_window [title="^OpenSnitch v.*"] {
    sticky enabled
    floating enabled
}

# Float ghidra windows that arent the main browser
for_window [class="ghidra-Ghidra" title="^(?!CodeBrowser).*"] {
    floating enabled
}

# QGIS popups get a titlebar
for_window [app_id="org.qgis.qgis" floating] {
    border normal
} 

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

######################################
## KEYBOARD BINDINGS
######################################

# Lock screen
bindsym $win+l exec $lock
# Enhanced Lock screen for shutdown/reboot/etc
bindsym $win+Shift+l exec wlogout

# Start terminal with ALT+Enter
bindsym $mod+Return exec $term
bindsym $mod+Shift+q kill
bindsym $mod+space exec $menu
bindsym --locked XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym --locked XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym --locked XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessUp exec brightnessctl set +5% 
bindsym XF86MonBrightnessDown exec brightnessctl set 5%- 
bindsym XF86Tools exec codium ~/.config/
# XF86AudioMedia - Framework symbol
# Super_L - Projector symbol ? What is this
# XF86Search - thinkpad 

# Save a screenshot to downloads and to the clipboard
bindsym Print exec grim -g "$(slurp)" - | tee ~/screenshot.png | wl-copy -t image/png

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Reload the configuration file
bindsym $mod+Shift+c reload

# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exit -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'
bindsym $mod+F4 exit

# Move your focus around
# Or use $mod+[up|down|left|right]
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move the focused window with the same, but add Shift
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# Switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# Move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10
# Note: workspaces can have any name you want, not just numbers.
#
# Layout stuff:
#
# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits
# respectively.
bindsym $mod+b splith
bindsym $mod+v splitv

# Sway has a "scratchpad", which is a bag of holding for windows.
# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad
# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# Switch the current container between different layout styles
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Swap focus between the tiling area and the floating area
bindsym $mod+d focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

# Enable natural scroll
input type:touchpad {
    natural_scroll enabled
    scroll_factor 0.7
}

# Swipe controls - 3 finger change workspace 
bindgesture swipe:3:left workspace next_on_output
bindgesture swipe:3:right workspace prev_on_output
